/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-top: 60px;
  margin-bottom: 120px;
}
h1 {
  text-align: center;
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #1f2b2e;
  font-size: 80%;
  color: #506368;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 5% 60px 5%;
  color: #899fa4;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 48px;
}

code {
  font-size: 80%;
}

/* Navigation bar */
.navbar {
  background-color: #dea372;
  padding-top:24px;
  padding-bottom:24px;
}
.navbar-default .navbar-brand {
  background-color: #cc9966;
  color: #FFFFFF;
}
.navbar-default:hover .navbar-brand:hover {
  background-color: #cc9966;
  color: #FFFFFF;
}
.nav-user {
	float: right;
}

/* Body
- glyphicon-chevron-down
- http://getbootstrap.com/components/#glyphicons
*/
