/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-top: 60px;
  margin-bottom: 120px;
}
h1 {
  text-align: center;
  margin-bottom: 60px;
}
a {
  color: #506368;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #1f2b2e;
  font-size: 80%;
  color: #506368;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 5% 60px 5%;
  color: #899fa4;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 48px;
}

/* Navigation bar */
.navbar {
  background-color: #dea372;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navbar-default .navbar-brand {
  background-color: #cc9966;
  color: #FFFFFF;
  border-radius: 2px;
}
.navbar-default:hover .navbar-brand:hover {
  background-color: #cc9966;
  color: #FFFFFF;
  border-radius: 2px;
}
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
.nav .navbar-nav {
  padding: 0px;
  border-radius: 0px;
}

@media (min-width: 768px){
  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #FFFFFF;
  }
  .navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
#navbar-signin {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #FFFFFF;
}
#navbar-signup {
  background-color: #cc9966;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #FFFFFF;
  margin-left: 24px;
}

/* Body */
.panel-default {
  border-color: #ffffff;
}
.panel-default > .panel-heading {
  padding-top: 24px;
  background-color: #ffffff;
}
.panel-body {
  padding-top: 36px;
  padding-bottom: 36px;
}

/* TODO List

align navbar width with body
fix navbar-collapse menu
icons for FAQ panel-headings
- glyphicon-chevron-down
- http://getbootstrap.com/components/#glyphicons
*/
